@media (max-width: 1024px) and (min-width: 768px) {
  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 16px;
  }
  .main__block {
    &__text {
      width: 410px;
      .the_brand {
        font-size: 44px;
        font-weight: 900;
        line-height: 52.8px;
      }
      .of_luxer,
      .fashion {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
      }
    }
    &1 {
      &__1 {
        flex-wrap: nowrap;
      }
      &__accesories {
        max-width: 1140px;
        overflow: hidden;
        .text__for_accesories {
          top: 38%;
          left: 44%;
        }
      }
      &__1__0 {
      }
    }
  }
  .main__eng {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer__end__block {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .main__block {
    height: 363px;
    &1 {
      &__accesories {
        max-width: 360px;
        overflow: hidden;
        .text__for_accesories {
          top: 35%;
          left: 31%;
        }
      }
    }
  }

  .img__men {
    display: none;
  }
  .the_brand {
    font-size: 32px;
  }
  .fashion,
  .of_luxer {
    font-size: 24px;
  }

  .text1 {
    font-size: 12px;
  }

  .text2 {
    font-size: 16px;
  }

  .main__block1 {
    &__1 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 425px) {
  .header__nav {
    justify-content: space-between;
    &__logo__search {
      margin-left: 16px;
    }
    &__gamb__men__basket {
      margin-right: 16px;
      width: 32px;
      height: 32px;
      .men {
        display: none;
      }
      .basket {
        display: none;
      }
    }
  }

  .main__block {
    height: 375px;
    .img__men {
      display: none;
    }
    .the_brand {
      font-size: 38px;
      line-height: 45.6px;
    }

    .of_luxer,
    .fashion {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }
    &1__accesories {
      height: 111px;
    }
  }

  .breadcramb {
    justify-content: center;
  }
  .main {
    &__block1 {
      &__1 {
        display: block;
        flex-direction: column;
        align-items: center;
      }
      &__accesories {
        max-width: 360px;
        overflow: hidden;
        .text__for_accesories {
          left: 33%;
        }
      }
    }
    &__block {
      &__2 {
        &__text1 {
          margin: 64px 0;
        }
      }
    }
  }
  .footer {
    &__end__block {
      flex-direction: column;
      height: 693px;
      &3 {
        flex-direction: column;
      }
    }

    &__end__block2 {
      &__inside {
        flex-direction: row;
        .buttons {
          .button1 {
            width: 246px;
          }
          .button2 {
            width: 95px;
          }
        }
      }
    }
  }
}
