@media (min-width: 768px) and (max-width: 1080px) {
  .header__nav {
    justify-content: space-between;
  }
  .breadcramb {
    justify-content: space-between;
  }
  .main {
    &__shared {
      &-block-text {
        margin-left: 22px;
        &_0 {
          width: 375px;
        }
        .heading {
          font-size: 16px;
          line-height: 19.2px;
        }
        .text {
          font-size: 16px;
          line-height: 19.2px;
          &_head {
            width: 354px;
          }
        }
        .ok {
          .text {
            font-size: 16px;
            line-height: 19.2px;
          }
        }
      }
    }
  }
  .footer {
    &__end__block {
      flex-direction: column;
      height: 693px;
    }
  }
}

@media (max-width: 767px) {
  .header__nav {
    justify-content: space-between;
    &__logo__search {
      margin-left: 16px;
    }
    &__gamb__men__basket {
      margin-right: 16px;
      width: 32px;
      height: 32px;
      .men {
        display: none;
      }
      .basket {
        display: none;
      }
    }
  }
  .breadcramb {
    justify-content: center;
  }
  .main {
    &__shared {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      &-block-text {
        margin: 0;
        &_0 {
          width: 375px;
        }
        .heading {
          font-size: 16px;
          line-height: 19.2px;
        }
        .text {
          font-size: 16px;
          line-height: 19.2px;
          &_head {
            width: 354px;
          }
        }
        .ok {
          .text {
            font-size: 16px;
            line-height: 19.2px;
          }
        }
      }
    }
  }
  .footer {
    &__end__block {
      flex-direction: column;
      height: 693px;
      &3 {
        flex-direction: column;
      }
    }
    &__end__block2 {
      &__inside {
        flex-direction: row;
      }
    }
  }
}
