@import "vars";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
@font-face {
  font-family: "Lato";
  src: url(./Lato/Lato-Light.ttf);
}

.center {
  margin: 0 auto;
  padding-left: calc(50% - 100vw);
  padding-right: calc(50% - 100vw);
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 75px;
  background: #222222;
  &__logo__search {
    width: 111px;
    height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .group_2 {
      width: 44px;
      height: 38px;
    }
    .search {
      width: 26px;
      height: 26px;
    }
  }
  &__gamb__men__basket {
    width: 168px;
    height: 38px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .gamburger {
      width: 32px;
      height: 23px;
    }

    .men {
      width: 29px;
      height: 29px;
    }

    .basket {
      width: 41px;
      height: 37px;
    }
  }
}
.img__resize {
  max-width: 100%;
  height: auto;
}
.breadcramb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background-color: #f8f3f4;
  height: 148px;
  &__heading {
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $textColor;
  }

  &__links {
    display: flex;
  }
}
.main {
  &__shared {
    display: flex;
    justify-content: center;

    padding-top: 64px;
    &-block {
      .input {
        display: block;
        width: 360px;
        height: 45px;
        margin: 10px 0;
        padding-left: 17px;
        border: 1px solid #a4a4a4;
        outline: none;
        &::placeholder {
          color: #b1b1b1;
        }
      }
      .heading {
        padding-bottom: 10px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: #222222;
      }
      .radio__shared {
        width: 132px;
        display: flex;
        height: 17px;
        margin: 32px 0;

        .radio {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    &-text {
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.6px;
      text-align: left;
      .heading {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
      }
      .text {
        width: 360px;
        height: 32px;
        margin-top: 15px;
        margin-bottom: 39px;
        font-family: Lato;
        font-size: 13px;
        font-weight: 400;
        line-height: 15.6px;
        text-align: left;
      }
    }
    &-button {
      .button {
        width: 167px;
        height: 50px;
        background-color: #f16d7f;
        color: #ffffff;
        border: #ffffff;
        margin-bottom: 96px;

        .vector {
          margin-left: 20px;
        }
        &:hover {
          transition: background-color 0.3s;
          background-color: #f54b61;
        }
      }
    }
    &-block-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 128px;
      &_0 {
        width: 652px;
      }
      .heading {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        margin-bottom: 22px;
        color: #000000;
      }
      .text {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        margin-bottom: 21px;
        width: 652px;
        &_head {
          width: 652px;
        }
      }
      .ok {
        .text {
          font-family: Lato;
          font-size: 24px;
          font-weight: 400;
          line-height: 28.8px;
          text-align: left;
        }
      }
    }
  }
}

.footer {
  &__end__block {
    background-image: url(./img/photo_subscribe.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 448px;
  }
  &__end__block1 {
    width: 359.45px;
    height: 225px;
  }
  &__end__block1__inside1 {
    width: 359.45px;
    height: 99px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .inside__text1 {
      font-family: Lato;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  &__end__block2 {
    &__inside {
      // width: 557px;
      height: 142px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-content: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      .inside__text2 {
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        .text {
          display: block;
          font-family: Lato;
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          text-align: center;
        }
        .text2 {
          display: block;
          font-family: Lato;
          font-size: 18px;
          font-weight: 400;
          line-height: 21.6px;
          text-align: center;
        }
      }
      .buttons {
        padding-top: 27px;
        .button1 {
          width: 250px;
          height: 49px;
          background-color: #e1e1e1;
          border-color: #e1e1e1;
          border-radius: 24.5px 0 0 24.5px;
          border-width: 0;
        }
        .button1:hover {
          transition: background-color 0.3s;
          background-color: #e2d7d7;
        }
        .button2 {
          width: 100px;
          height: 49px;
          background-color: #f16d7f;
          border-color: #f16d7f;
          border-radius: 0 24.5px 24.5px 0;
          border-width: 0;
        }
        .button2:hover {
          transition: background-color 0.3s;
          background-color: #c23535;
        }
      }
    }
  }
  &__end__block3 {
    background-color: #222224;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 79px;
    .text {
      color: #fbfbfb;
    }
    .link {
      display: flex;
      gap: 7px;
      .link1 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        background-color: #fff;
      }
    }
  }
}
@import "media";
