@media (min-width: 768px) and (max-width: 1024px) {
  .header__nav {
    justify-content: space-between;
  }
  .breadcramb {
    justify-content: space-between;
    &__heading {
      margin-left: 16px;
    }
    &__links {
      margin-right: 16px;
    }
  }
  .main__block__info {
    top: 0;
  }
  .main__block__2 {
    &__img_3 {
      display: none;
    }
  }
  .footer {
    &__end__block {
      flex-direction: column;
      height: 693px;
    }
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .main__block__2 {
    &__img_3 {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .header__nav {
    justify-content: space-between;
    &__logo__search {
      margin-left: 16px;
    }
    &__gamb__men__basket {
      margin-right: 16px;
      width: 32px;
      height: 32px;
      .men {
        display: none;
      }
      .basket {
        display: none;
      }
    }
  }
  .breadcramb {
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
  .shost {
    min-height: 760px;
  }
  .main__block__info {
    top: 0;
    max-width: 375px;
    &__text3 {
      margin: 0 24px;
    }
    &__price {
      padding: 32px 60px 60px 60px;
    }
    &__sort {
      margin: 0 30px;
      &1 {
        font-size: 14px;
      }
    }
  }
  .main__block__2 {
    display: flex;
    flex-wrap: wrap;
    &__img_1 {
      display: none;
    }
  }
  .footer {
    &__end__block {
      flex-direction: column;
      height: 693px;
      &3 {
        flex-direction: column;
      }
    }

    &__end__block2 {
      &__inside {
        flex-direction: row;
        .buttons {
          .button1 {
            width: 246px;
          }
          .button2 {
            width: 95px;
          }
        }
      }
    }
  }
}
